#head{
    /* border: solid red; */
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
}

#logo{
    margin-left: 3.5%;
}
#tick{
    margin-left: 19%;
}
#ticks{
    margin-left: 6.5%;
    margin-top: 1%;
}
#tickss{
    margin-left: 6%;
}

#p1{
   font-size: 17px;
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 2.5%;
   margin-top: 1.5%;
   letter-spacing: 1px;
}
#p2{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2.5%;
    margin-top: 1.5%;
    letter-spacing: 1px;
 }

#a1{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2.5%;
    margin-top: 1.5%;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
 }

 #p3{
    /* border: red solid; */
    margin-left: 5%;
    width: 43%;
    margin-top: -0.5%;
 }

 #med{
    display: flex;
    flex-wrap: wrap;
 }

 #heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-left: 12%;
 }
 #p4{
    margin-left: 12%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: -3.5%;
 }
 #pic{
    margin-left: 20%;
    /* border: red solid; */
    margin-top: -0.7%;
 }

 #H3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 12.5%;
    letter-spacing: 1px;
 }

 #main{
    /* border: red solid; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
 }

 #address{
    /* border: red solid; */
    margin-left: 10%;
    display: flex;
    /* flex-wrap: wrap; */
    width: 60%;
    box-sizing: border-box;
    margin-top: -2%;
 }

 #addAddress{
    /* border: red solid; */
   /* margin-left: 21%; */
   box-sizing: border-box;
   width: 57%;
   height: 225px;
  text-align: center;
  border-style:dashed;
  border-color: #ccc;
 border-radius: 8px;
  
 }

 #addAddress:hover{
    background-color: #FFD4EB;
    border-color:#D7035D ;
 }
 #plus{
   margin-top: 20%;
 }
 #p5{
    font-family: Arial, Helvetica, sans-serif;
    color: #D7035D;
 }

 #fetchAddress{
    /* border: red solid; */
    margin-left: 2%;
    width: 59%;
    height: 225px;
    box-sizing: border-box;
    border:1px solid #ccc;
   border-radius: 8px;
   padding-left: 3%;
   padding-right: 2%;
 }
/* 
 #fetchMain{
   border: solid red;
 margin-top: -19.5%;
  
 } */

 #baggs{
    /* border: red solid; */
    margin-left: 2%;
    width: 24%;
 }
 #i1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
 }
 #i2{
    margin-top: -2%;
    font-family: Arial, Helvetica, sans-serif;
  
 }

 #i3{
    margin-top: -3%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
 }

 #i4{
    margin-top: -3%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
 }
 #i5{
    margin-top: -3%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
 }

 /* #edit{
    padding: 10px;
    width: 10%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-left: 42%;
    cursor: pointer;
 } */
 #submit{
    padding: 8.5px;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    /* margin-left: 3%; */
    border-radius: 10px;
    color: white;
    background-color: #D7035D;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    
 }
 #symbol{
    margin-left: 10%;
    /* width: 2%; */
   
 }
 a{
    text-decoration: none;
 }

 #bag{
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    /* border: solid red; */
 }
 #p7{
  margin-left: 53%;
  margin-top: 6%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
 }
 #H4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5%;
    font-size: 16px;
    margin-bottom: -5%;
 }
 #aero{
    margin-left: 5%;
 }

    
 #bag2{
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    border: 1px solid #ccc;
    margin-top: -0.5%;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
    /* border: solid red; */
 }

 #aeros{
   margin-left: 5%;
   margin-top: -8%;
}

 #p9{
    margin-left: 22%;
    margin-top: 6.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
   }
   #H6{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-left: 5%;
      font-size: 16px;
   }

   #bag3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    padding: 7px;
    border-radius: 7px;
    background-color: #F2EFF7;
    cursor: pointer;
   }

   #lock{
    height: 5%;
    margin-left: 10%;
   }

   #p10{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 2%;
   }

   #design{
      display: flex;
      border:1px solid #cccc;
      background-color: #dcf5fc;
      padding: 8px;
      border-radius: 10px;
   }
   
   /* #sign{
   
   } */
   
   #yay{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      margin-left: 4%;
      margin-top: 1%;
      margin-bottom: 1%;
   }

   span{
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 1px;
      color: #109B1A;
      margin-bottom: -2%;
     }

     #p11{
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 2.5%;
      margin-top: 1.5%;
      letter-spacing: 1px;
     }
   
     #p12{
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 2.5%;
      margin-top: 1.5%;
     }
/* --------------------------------------------------------------------------------- */
.totalamnt{
   display: flex;
}

.shipping{
   display: flex;
}

.pay{
   display: flex;
}

#p2p{
   margin-top: 1.5%;
   margin-left: 48%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   letter-spacing: 1px;
}

#p2p1{
   margin-top: 1.5%;
   margin-left: 61%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   letter-spacing: 1px;
   color: #109B1A;
}

#hhh{
   margin-top: 1.5%;
   margin-left: 55%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   letter-spacing: 1px;
}

.sub-menu{
   padding: 17px;
  
}
.sub-menu-wrap{
   cursor: pointer;
   /* border: red solid; */
   width: 97%;
   margin: auto;
   border-radius: 0 0 10PX 10PX;
   max-height: 0px;
   overflow: hidden;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.sub-menu-wrap.open-menu{
   max-height: 400px;
}

/* ---------------------------------------------------------------------------------- */