#main {
  width: 45%;
  margin: auto;
  margin-top: 3%;
  padding: 12px;
}

#bag {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #020231;
  font-size: 30px;
  margin-left: 7%;
  margin-top: 3%;
}

#check {
  margin-left: 7%;
  margin-top: 2%;
  cursor: pointer;
}

#para {
  margin-left: 10%;
  font-size: 14px;
  color: #75768a;
  font-family: Arial, Helvetica, sans-serif;
}

#gift {
  margin-left: 1%;

  color: #090b45;
  font-family: Arial, Helvetica, sans-serif;
}

/* checkbox */
input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

a {
  text-decoration: none;
  color: #020231;
  font-size: 40px;
}

#product1 {
  padding: 10px;
  box-sizing: border-box;
}

#img1 {
  box-sizing: border-box;
  width: 20%;
}
#p1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25%;
  margin-top: -20%;
}

#p2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25%;
  margin-top: 1%;
}

#divv {
  /* border: red solid; */
  margin-top: 1%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 3%;
  height: 200px;
}
#divv:hover {
  margin-top: 1%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 3%;
  background-color: #d7035d75;
  color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#qty {
  display: flex;
  /* border: red solid; */
  margin-top: -1%;
  padding: 10px;
}
#p3 {
  /* margin-top: -7%; */
  font-family: Arial, Helvetica, sans-serif;
  /* margin-left: 50%; */
  /* margin-bottom: -4.5%; */
}
input {
  width: 3%;
  text-align: center;
  font-weight: bold;
  border: none;
  /* margin-left: 1%;
   margin-right: 1%; */
}
#img2 {
  margin-top: -4%;
}
#prprice {
  margin-left: 25%;
  margin-top: 1%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3%;
}

.totalamnt {
  display: flex;
}

.shipping {
  display: flex;
}

.pay {
  display: flex;
}

#p2p {
  margin-top: 1.5%;
  margin-left: 57%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}

#p2p1 {
  margin-top: 1.5%;
  margin-left: 61%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #109b1a;
}

#hhh {
  margin-top: 1.5%;
  margin-left: 57%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

#priceDetails {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 25%;
  margin: auto;
  margin-top: 4%;
  margin-left: -1%;
}

#mainHead {
  display: flex;
  /* border: red solid; */
  margin-bottom: 3%;
}

#details {
  margin-left: 2%;
}

#p11 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 6%;
  margin-top: 1.5%;
  letter-spacing: 1px;
}

#p12 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 6%;
  margin-top: 1.5%;
}
span {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #109b1a;
  margin-bottom: -2%;
}

#design {
  display: flex;
  border: 1px solid #cccc;
  background-color: #dcf5fc;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 3%;
}

#yay {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#btnns {
  border: 1px solid #ccc;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: #d7035d;
  cursor: pointer;
}

.remove {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 7px;
  font-weight: bold;
  cursor: pointer;
  /* margin-left: 70%; */
}

.remove:hover {
  background-color: #d7035d;
  color: white;
  font-weight: bold;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#addbtn {
  margin-left: 32%;
  width: 5%;
  border-radius: 50px;
  font-size: 15px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #d7035d;
  color: white;
  cursor: pointer;
  /* margin-top: -2%; */
}

#lessbtn {
  border-radius: 50px;
  width: 5%;
  margin-right: 10%;
  font-size: 17px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #d7035d;
  color: white;
  cursor: pointer;
}

#quantity {
  margin-left: 25%;
  margin-bottom: -2.5%;
}

#promobox {
  padding: 8px;
  width: 40%;
  margin-left: 5%;
  border: 1px solid;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#promoapply {
  padding: 8px;
  width: 35%;
  margin-left: 8%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
}

#promoapply:hover {
  background-color: #d7035d;
  color: white;
  font-weight: bold;
}

#promodis {
  display: flex;
}

#promotrue1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: 6%;
  margin-top: 2%;
}

#promotrue2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: 57%;
  margin-top: 2%;
}

#promostatus {
  text-align: center;
}
